body {
background-color: #DCFCCE;

}

h1 {
	text-align: center
}

h1 {
	border: black;
	border-width: 5px;
	border-style: solid;
}

.h1 {
	color: white;
}

.cart {display: flex;
	flex-wrap: wrap;
	margin-left: 40px;
	flex-basis: 90%;
	padding-bottom: 35px;
	padding-top: 35px;
}

.desert {
	display: flex;
	flex-wrap: wrap;
	margin-left: 60px;
	flex-basis: 90%;
} 

.info1 {
	text-align: justify;
	font-family: helvetica;
	margin-top: 8px;
	padding-right: 80px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-top: 20px;
	font-size: 17pt;
}

.title1{
	font-weight: bold;
	font-family: lobster;
	font-size: 20pt;
	margin-bottom: -50px;
}

.information {
	text-align: justify;
	font-family: helvetica;
	margin-top: 10px;
	padding-right: 80px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-top: 20px;
	font-size: 16pt;
}

.garden {
	display: flex;
	flex-wrap: wrap;
	margin-left: 80px;
	flex-basis: 90%;
	margin-right: 50px;
} 

.garden{
	border: 2px;
	border-radius: 12px;
	padding: 1px;
	background: #dddddd;
	margin-bottom: 10px;
	margin-top: 10px;

}

.title2 {
	font-weight: bold;
	font-family: lobster;
	font-size: 20pt;
	margin-bottom: -50px;
}

.fridge{
	display: flex;
	flex-wrap: wrap;
	margin-left: 80px;
	flex-basis: 90%;
}

.fridge{      
	border: 2px;
	border-radius: 12px;
	padding: 1px;
	background: #bebebe;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-right: 50px;
}

.information2 {
	text-align: justify;
	font-family: helvetica;
	margin-top: 10px;
	padding-right: 80px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-top: 20px;
	font-size: 16pt;
}

.market {
	display: flex;
	flex-wrap: wrap;
	margin-left: 80px;
	flex-basis: 90%;
}

.market {
	border: 2px;
	border-radius: 12px;
	padding: 1px;
	background: #a2a2a2;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-right: 50px;
}

.title3 {
	font-weight: bold;
	font-family: lobster;
	font-size: 20pt;
	margin-bottom: -50px;
}


.information3 {
	text-align: justify;
	font-family: helvetica;
	margin-top: 10px;
	padding-right: 80px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-top: 20px;
	font-size: 16pt;
}


.health{
	display: flex;
	flex-wrap: wrap;
	margin-left: 40px;
	flex-basis: 90%;
	margin-bottom: 20px;
	padding-bottom: 35px;
	padding-top: 35px;
}

.benefit {
	display: flex;
	flex-wrap: wrap;
	margin-left: 60px;
	flex-basis: 90%;
} 

.info5 {.info1 
	text-align: justify;
	font-family: helvetica;
	margin-top: 10px;
	padding-right: 80px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-top: 20px;
	font-size: 18pt
}


.sources{
	border: 2px;
	border-radius: 12px;
	padding: 3px;
	background: #a2a2a2;
	margin-bottom: 20px;
	margin-left: 80px;
	margin-top: 20px;
	margin-right: 50px;
	font-size: 17pt;
}

.title4 {
	font-size: 25px;
	text-align: center;
	font-weight: bold;
}

.byline {
	font-size: 17pt;
}

/* FOR SMALLER SCREENS */
@media ( max-width:  700px) 

